@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root {
    --primary: #191A19;
    --secondary: #1E5128;
    --tertiary: #4E9F3D;
    --quartenary: #D8E9A8;
    --white: #FFFFFF;
    --font: 'Nunito Sans', sans-serif;
}

body {
    font-family: var(--font);
}