.section {
  width: 100vw;
}

.section > div {
  display: flex;
  flex-direction: row;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  padding: 30px;
  justify-content: flex-end;
}

.section > div > div {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
